# Introduction

Dans cette série d'exercices, nous travaillerons avec l'ensemble des données de Wine Reviews.

In [1]:
import pandas as pd

reviews = pd.read_csv("../wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

Consultez un aperçu de vos données en parcourant la ligne suivante.

In [2]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

# Exercices

# 1.

Sélectionnez la colonne `description` de `reviews` et attribuez le résultat à la variable `desc`.

In [6]:
desc = reviews.description
desc
desc.head()

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

# 2.

Sélectionnez la première valeur dans la colonne description de `reviews`, en l'affectant à la variable `first_description`.

In [9]:
first_description = desc[0]
# first_description = reviews.loc[0, 'description']

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

# 3.

Sélectionnez la première ligne de données (le premier enregistrement) de `reviews`, en l'affectant à la variable `first_row`.

In [14]:
first_row = reviews.iloc[0]
first_row

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

# 4.

Sélectionnez les 10 premières valeurs de la colonne `description` dans `reviews`, en affectant le résultat à la variable `first_descriptions`.

Astuce : formatez votre sortie comme une Series pandas.

In [66]:
first_descriptions = reviews.loc[0:9, 'description']
#first_descriptions = desc[0:10]
#first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
                           ...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, Length: 10, dtype: object

# 5.

Sélectionnez les enregistrements avec les labels d'index `1`, `2`, `3`, `5` et `8`, en affectant le résultat à la variable `sample_reviews`.

En d'autres termes, générer la DataFrame suivante :

![](https://i.imgur.com/sHZvI1O.png)

In [20]:
sample_reviews = reviews.iloc[[1, 2, 3, 5 , 8], :]
sample_reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel

# 6.

Créez une variable `df` contenant les colonnes `country`, `province`, `region_1` et `region_2` des enregistrements avec les labels d'index 0, 1, 10 et 100. En d'autres termes, générez le DataFrame suivant :

![](https://i.imgur.com/FUCGiKP.png)

In [22]:
df = reviews.loc[[0, 1, 10, 100], ["country", "province", "region_1", "region_2"]]
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

# 7.

Créez une variable `df` contenant les colonnes `country` et `variety` des 100 premiers enregistrements.

Conseil : vous pouvez utiliser `loc` ou `iloc`. Lorsque vous travaillez sur la réponse à cette question et à plusieurs de celles qui suivent, gardez le "gotcha" suivant décrit dans le tutoriel :

> `iloc` utilise le schéma d'indexation Python stdlib, où le premier élément de la gamme est inclus et le dernier exclu. `loc`, quant à lui, indexe de manière inclusive.

> Ceci est particulièrement déroutant lorsque l'index du DataFrame est une simple liste numérique, par exemple `0,...,1000`. Dans ce cas, `df.iloc [0:1000]` renvoie 1000 entrées, alors que `df.loc[0:1000]` en renvoie 1001 ! Pour obtenir 1000 éléments en utilisant `loc`, vous devrez aller un chiffre plus bas et taper `df.iloc[0:999]`.

In [67]:
df = pd.DataFrame(reviews.loc[0:99, ["country", "variety"]])
df.head()

    country         variety
0     Italy     White Blend
1  Portugal  Portuguese Red
2        US      Pinot Gris
3        US        Riesling
4        US      Pinot Noir

# 8.

Créer un DataFrame `italian_wines` contenant des critiques de vins produits en Italie. Indice : `reviews.country`  égal quoi ?

In [36]:
italian_wines = pd.DataFrame(reviews[reviews.country == 'Italy'])
print(italian_wines)

       country                                        description  \
0        Italy  Aromas include tropical fruit, broom, brimston...
6        Italy  Here's a bright, informal red that opens with ...
...        ...                                                ...
129961   Italy  Intense aromas of wild cherry, baking spice, t...
129962   Italy  Blackberry, cassis, grilled herb and toasted a...

                      designation  points  price           province  region_1  \
0                    Vulkà Bianco      87    NaN  Sicily & Sardinia      Etna
6                         Belsito      87   16.0  Sicily & Sardinia  Vittoria
...                           ...     ...    ...                ...       ...
129961                        NaN      90   30.0  Sicily & Sardinia   Sicilia
129962  Sàgana Tenuta San Giacomo      90   40.0  Sicily & Sardinia   Sicilia

       region_2    taster_name taster_twitter_handle  \
0           NaN  Kerin O’Keefe          @kerinokeefe
6           NaN  Kerin O’Keefe          @kerinokeefe
...         ...            ...                   ...
129961      NaN  Kerin O’Keefe          @kerinokeefe
129962      NaN  Kerin O’Keefe          @kerinokeefe

                                                    title       variety  \
0                       Nicosia 2013 Vulkà Bianco  (Etna)   White Blend
6        Terre di Giurfo 2013 Belsito Frappato (Vittoria)      Frappato
...                                                   ...           ...
129961                        COS 2013 Frappato (Sicilia)      Frappato
129962  Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...  Nero d'Avola

                 winery
0               Nicosia
6       Terre di Giurfo
...                 ...
129961              COS
129962         Cusumano

[19540 rows x 13 columns]

# 9.

Créer un DataFrame `top_oceania_wines` contenant toutes les critiques avec au moins 95 points (sur 100) pour les vins d'Australie ou de Nouvelle-Zélande.

In [73]:
top_oceania_wines = reviews[((reviews['country']=='Australia')|(reviews['country']=='New Zealand')) 
                            & (reviews['points']>= 95)]
top_oceania_wines

top_oceania_wines = reviews[(reviews.country.isin(['Australia', 'New Zealand'])) & (reviews['points']>= 95)]

top_oceania_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122507,New Zealand,"This blend of Cabernet Sauvignon (62.5%), Merl...",SQM Gimblett Gravels Cabernets/Merlot,95,79.0,Hawke's Bay,NaN,NaN,Joe Czerwinski,@JoeCz,Squawking Magpie 2014 SQM Gimblett Gravels Cab...,Bordeaux-style Red Blend,Squawking Magpie
122939,Australia,Full-bodied and plush yet vibrant and imbued w...,The Factor,98,125.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Torbreck 2013 The Factor Shiraz (Barossa Valley),Shiraz,Torbreck