# Exercices

In [2]:
import pandas as pd

# 1.

## Question

Dans la cellule ci-dessous, créez un DataFrame `fruits` qui ressemble à ceci :

![](https://i.imgur.com/Ax3pp2A.png)

## Réponse

In [4]:
fruits = pd.DataFrame({"Apples":[30], "Bananas":[21]})

fruits.head()

   Apples  Bananas
0      30       21

# 2.

## Question

Créez un dataframe `fruit_sales` qui correspond au diagramme ci-dessous :

![](https://i.imgur.com/CHPn7ZF.png)

## Réponse

In [8]:
fruit_sales = pd.DataFrame({"Apples":[35, 41], "Bananas": [21, 34]}, index = ["2017 Sales", "2018 Sales"])
fruit_sales.head()

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

# 3.

## Question

Créer une variable `recipe` avec une Serie qui ressemble à :

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

## Réponse

In [13]:
recipe = pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index = ["Flour", "Milk", "Eggs", "Spam"], name = "Dinner")
recipe

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

# 4.

## Question

Lisez le jeu de données csv de wine reviews suivant dans un DataFrame appelé `reviews` :

![](https://i.imgur.com/74RCZtU.png)

Le chemin d'accès au fichier csv est `./wine-reviews/winemag-data_first150k.csv`. Les premières lignes ressemblent à :

```
,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,"This tremendous 100% varietal wine[...]",Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and[...]",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,,Tinta de Toro,Bodega Carmen Rodríguez
```

## Réponse

In [17]:
reviews = pd.read_csv("C:/Users/utilisateur/Desktop/Formation Développeur IA/Brief/4_Notebooks Pandas/wine-reviews/winemag-data_first150k.csv")
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

# 5.

## Question

Lancez la cellule ci-dessous pour créer et afficher un DataFrame appelé `animals` :

In [18]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

Dans la cellule ci-dessous, écrivez le code pour enregistrer cette DataFrame sur le disque en tant que fichier csv avec le nom `cows_and_goats.csv`.

## Réponse

In [20]:
animals.to_csv('C:/Users/utilisateur/Desktop/Formation Développeur IA/Brief/4_Notebooks Pandas/cows_and_goats.csv', encoding='utf-8')